body{
	margin 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
}
.main
{
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
form
{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-control
{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid yellow;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}
	
input
{
	height: 45px;
}
form .submit
{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover
{
	background-color: #f44336;
	cursor: pointer;
}
